<rewrite>
  <rules>
    <rule name="Redirect to https" stopProcessing="true">
      <match url="(.*)" />
        <conditions>
          <add input="{HTTP_CF_VISITOR}" pattern="(.*)https(.*)" ignoreCase="true" negate="true"  />
        </conditions>
       <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
    </rule>
  </rules>
</rewrite>